.recipe {
  padding: 100px 5% 5% 5%;
  max-width: 800px;
  margin: 0 auto;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
  }

  &__rating {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__description {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__subtitle {
    text-align: center;
  }

  &__preparation-time {
    text-align: center;
  }

  &__steps {
    margin-bottom: 70px;
  }

  &__button-row {
    display: flex;
    justify-content: space-between;
  }
}

.btn__like {
  margin-right: 10px;
}

.btn__back {
  width: 120px;
}

button:disabled {
  background-color: gray !important;
}
