<mat-toolbar color="primary">
  <mat-toolbar-row color="primary" class="search__container" [ngClass]="{ 'bar-shown': isOpen }">
    <app-search-bar></app-search-bar>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a class="logo" routerLink="/recipes"
      ><img class="logo__img" src="../../../../assets/chef.svg" alt="logo"
    /></a>
    <span class="spacer"></span>
    <mat-icon
      class="search__icon"
      aria-hidden="false"
      aria-label="search icon"
      (click)="toggleSearchBar()"
      >search</mat-icon
    >
    <button mat-raised-button>SIGN UP / LOGIN</button>
  </mat-toolbar-row>
</mat-toolbar>
